.container{
    background-color: dimgrey;
}

body{
    background-color: azure;
}

.firstRow{
    background-color: #E0D8D6;
    text-align: center;
    padding-bottom: 10px;
}

.firstRow1{
    background-color: #E0D8D6;
    text-align: center;
}